/* DonutChart.css */
.donut-chart-container {
  width: 90%;
  max-width: 500px; /* 최대 너비를 설정하여 너무 커지지 않도록 함 */
  min-width: 350px;
  margin: 0 auto; /* 중앙 정렬 */
  position: relative;
}

.rate-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-43%, -50%); /* 텍스트를 정중앙에 위치시키기 위한 변환 */
  font-size: 1.3rem;
  font-weight: bold;
  color: red; /* 텍스트 색상 */
}
